{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;

}
.nature{
    background: linear-gradient(rgba(0,0,0,0.5),#2ec711),url(PHOTO/nature.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.peakpx{
    width: 140px;
    position: absolute;
    top:  4%;
    left: 10%;

}
.nature-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.nature-text h1{
    font-size: 120px;
    font-family: 'Lobster', cursive;

}
.nature-text p{
    font-size: 20px;
    font-style: italic;
    
}
.nature-btn{
    margin: 70px auto 0;

}
.nature-btn a {
         width: 150px;
         text-decoration: none;
         display: inline-block;
         margin: 0 10px;
         padding: 12px 0;
         color:#fff;
         border: .5px solid #fff;
         position: relative;
         z-index: 1;
         transition: color 0.2s;

}
.nature-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:#fff;
    z-index: -1;
    transition: 0.5s;


}
.nature-btn a:hover span{
    width: 100%;

}
.nature-btn a:hover{
    color: #000;

}
#sideNav{
    width: 240px;
    height: 100vh;
    position:  fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s

}
nav ul li{
    list-style: none;
    margin: 50px 20px;

}
nav ul li a{
    text-decoration: none;
    color: #fff;



}
#menubtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;

}
#menubtn img{
    width: 20px;
    margin-top: 15px;
    
}
@media screen and (max-width: 770px)
{
  .nature-text h1{
      font-size: 44px;
  }   
  .nature-btn a{
      display: block;
      margin:  20px auto;
  }
}
--feature--

#feature{

       width: 100%;
       padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;

}
.title-text p{
       margin: auto;
       font-size: 20px;
       color: #009688;
       font-weight: bold;
       position: relative;
       z-index: 1;
       display: inline-block;


}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;



}
.title-text h1{
       font-size: 50px;

}
.feature-box{
        width: 80%;
        margin: auto;
        display: table-row-group;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
}
.features{
    flex-basis: 50%;

}

.g{
	height: 300px;
	width: 450px !important;
	

}
.features-img{
    flex-basis: 50%;
    margin: auto;

}
.features-img img{
    width: 70%;
    border-radius: 10px;

}
#login-form{
    display: none;

}
.form-box
{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    overflow: hidden;

}
.button-box
{
    width: 220px;
    margin:35px auto;
    position: relative;
    box-shadow: transparent;
    border-radius: 30px;

}
.button-btn{
             padding:10px 30px;
             cursor: pointer;
             background: transparent ;
             border: 0;
             outline: none;
             posiiton: relative;

}
#btn
{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #f3c693;
    border-radius: 30px;
    transition: .5s;
}
.input-group-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;


}
.input-group-register{
    top: 120px;
       position: absolute;
       width: 280px;
       transition: .5s;
}
.input-field
{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline:none;
    background: transparent;

}
.submit-btn
{
    width:85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #f3c693;
    border: 0;
    outline: none;
    border-radius: 30px;

}
.check-box
{
    margin: 30px 10px 34px 0;

}
span{
    color:#777;
    font-size: 120px;
    bottom: 68px;
    position: absolute;

}
#login{
    left:50px;
}
#login input{
    color: white;
    font-size: 15;

}
#register{
    left:450px;

}
#register input{
    color: white;
    font-size: 15;

}
